<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
	algoliasearchNetlify({
		appId: 'QJJPYKG9TH',
		apiKey: '57068e14b558ae420733fcc6e24be7fe',
		siteId: '6b32e121-2c00-41b3-a00f-1fd5aba83f49',
		branch: 'main',
		selector: 'div#search',
	});
</script>
<div id="search"></div>
