<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
	appId: 'MCBY3FK5VA',
	apiKey: 'f929ef86eff9dbc9c63c0ae4526789f6',
	siteId: '7ac8d2df-a62c-48a6-9813-c0f2c466098c',
	branch: 'main',
	selector: 'div#search',
  });
</script>
<div id="search"></div>
